/*#region CSS Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html,
body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
textarea,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
#root,
#__next {
    isolation: isolate;
}
/*#endregion*/

:root {
    --blue: #08D9D6;
    --black: #252A34;
    --pink: #FF2E63;
    --white: #EAEAEA;
}

body {
    background: var(--blue);
}

header {
    background: var(--pink);
    padding: 0.5rem;
    text-align: center;
    height: 10%;
}

.main {
    display: flex;
    flex-direction: column;
    height: 90%;
}

form {
    align-self: center;
    padding: 20px;
}

div.weather {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div.dayContainer {
    border: 2px solid red;
    padding: 1rem;
}

#divLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-style: italic;
}